*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
p{
    font-size: 16px;
    font-weight: 300;
    color: #2032398C;
}

/* hero_part start here */
.hero_part{
    background: #EEEDDE;
}
.rotate{
    display: inline-block;
    transform: rotate(11deg);
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.navbar ul li{
    padding: 0 10px;
    margin-left: 31px;
    display: inline-block;
    position: relative;
}
.navbar ul li::after{
    content: '';
    position: absolute;
    left: 18px;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #F6762E;
    transform: scaleX(0);
    transition: transform 0.6s ease;
}
.navbar ul li:hover::after {
    transform: scaleX(1);
    color: #000;
}

/* banner_part start here */
.banner{
    background: #EEEDDE;
}
.banner h1{
    font-size: 56px;
    font-weight: 600;
}
.fa-location-dot{
    position: absolute;
    left: 40px;
    color: #203239;
    width: 16.51px;
    height: 20.17px;
    top: 26px;
    left: 18px;
}
.inp_fa{
    position: relative;
    display: inline-block;
}

.inp_fa input{
    padding-left: 45px;
    width: 90%;
}

.form-control{
    border-radius: 15px;
}
.btn{
    position: absolute;
    top: 4px;
    right: 100px;
    color: #FFFFFF;
    background: #203239;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    opacity: 0px;
}
.btn:hover{
    box-shadow: 0px 6px 8px 0px #20323940;

}
.box_1{
    width: 30%;
}
.box_1 p{
    width: 60%;
}
.box_1 h2{
    font-size: 56px;
    font-weight: 600;
}
span{
    color: #F6762E;
}


/* card_part start here */
.card-body{
    margin-left: 15px;
}

.card-title{
    margin-bottom: 15px;
}
.card_head h3{
    font-size: 39px;
    font-weight: 600;
    width: 45%;
}
.card_body{
    position: relative;
}
.card_or {
	position: absolute;
	font-weight: 900;
	left: -3px;
	font-size: 30px;
    top: 5px;
}
.card_no{
    position: absolute;
    right: 18px;
}
.card-text{
    width: 90%;
    margin-bottom: 50px;
}
.card_anc{
    color: #203239;
    background: #D6D5C7;
}
.card-link{
    text-decoration: none;
    color: #203239;
}
.card-link i{
    margin-left: 25px;
}
.card_botom{
    padding-bottom: 20px;
}
/* explore_part start here */
.explore{
    background: #EEEDDE;
    padding-bottom: 169px !important;
}
.btn_1{
    color: #FFFFFF;
    background: #203239;
    border-radius: 10px;
    transition: .4s ease-in-out;
}
.btn_1:hover{
    border: 1px solid #000;
    background: transparent;
    color: #000;
}
.p_txt{
    font-size: 20px;
    font-weight: 600;
}
.h3_txt{
    font-size: 45px;
    font-weight: 600;
}
.text-dark{
    width: 100%;
    font-size: 17px;
}
.btn_border{
    border: 1px solid #000;
    background: transparent;
    color: #000;

}
.btn_border:hover{
    background: #203239;
    color: #FFFFFF;
}
.img_position{
    position: relative;
}
.img_pos{
    position: absolute;
    left: 86px;
    top: 65px;
}


/* residen_part start here */
.p_color{
    color: #FF7527CC;
}
.card_img p{
    color: #203239;
}



/* footer_part start here */
footer{
    background: #EEEDDE;
}
.fbody{
    background: #203239;
    color: #FFFFFF;
}
.card-body{
    position: relative;
}
.card-body i{
    position: absolute;
    top: 24px;
    left: 17px;
    font-size: 25px;
}
.c_txt{
    margin-left: 27px;
}
.card_btn1{
    padding: 14px 85px;
    color: #FF7527CC;
    background: #FF752733;
    border-radius: 10px;
    text-decoration: none;
}
.card_btn{
    color: #FFFFFF;
    background: #FF7527CC;
    border-radius: 10px;
    padding: 14px 80px;
    text-decoration: none;
}
.card_border{
    border: 1px solid #FF7527CC;
    background: transparent;
}
.social_links{
    padding-left: 360px;
}
.social_links i{
    cursor: pointer;
}



